.DS_Store

application/cache/*
assets/images/student_photo/*
!assets/images/student_photo/empty.jpg
assets/images/teacher_photo/*
!assets/images/teacher_photo/empty.jpg
assets/images/staff_photo/*
!assets/images/staff_photo/empty.jpg
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide/
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.csv
